:root {
    --background: #FFFEFB;
    --background2: #F1EBDE;
    --text: #51311D;
    --cta: #996C33;
    --ctahov: #D6A649;
    --gouttiere: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Assistant", sans-serif;
    font-size: 16px;
    color: var(--text);
}

a {
    text-decoration: none;
}

.cta {
    display: inline-block;
    padding: 10px var(--gouttiere);
    border-radius: 8px;
    font-weight: 600;
    transition: .3s;
}

.prim-cta {
    background-color: var(--cta);
    color: var(--background);
}

.prim-cta:hover {
    background-color: var(--ctahov);
}

.second-cta {
    border: 1px solid var(--text);
    color: var(--text);
}

.second-cta:hover {
    background-color: var(--ctahov);
}

body {
    background-color: var(--background);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

img {
    max-width: 100%;
}

header {
    width: 100vw;
    max-width: 100%;
}

header .flexbox {
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 120px;
}

header nav {
    justify-content: flex-end;
    gap: var(--gouttiere);
}

header nav a {
    font-weight: 600;
    color: var(--text);
}

header nav a:hover:not(.cta) {
    text-decoration: underline;
}

main section,
footer {
    padding: calc(var(--gouttiere) * 2) 0;
}

main section:nth-of-type(even) {
    background: var(--background2);
}

.hero {
    background-color: var(--background2);
}

.hero .flexbox {
    justify-content: space-between;
    align-items: center;
}

.hero > div > * {
    width: 50%;
}

.hero div img {
    height: calc(100vh - 120px);
    object-position: top center;
    object-fit: cover;
}

h1,
h2 {
    font-family: "Parisienne", cursive;
    font-weight: 400;
}

h1 {
    font-size: 68px;
    line-height: .6em;
}

h1 span {
    display: block;
    font-family: "Assistant", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .8em;
    color: var(--cta);
}

h1,
.hero p {
    margin-bottom: calc(var(--gouttiere) / 2);
}

p span,
p strong {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-size: 20px;
}

.hero a + a {
    margin-left: calc(var(--gouttiere) / 2);
}

h2 {
    text-align: center;
    font-size: 44px;
    margin-bottom: var(--gouttiere);
}

#prestations .flexbox {
    gap: var(--gouttiere);
}

#prestations article {
    flex: 1;
}

#prestations article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h3 {
    margin: calc(var(--gouttiere) / 2) 0;
    font-weight: 600;
    font-size: 18px;
}

#prestations h3 {
    text-align: center;
}

#valeurs p {
    text-align: center;
    margin-bottom: var(--gouttiere);
}

#valeurs div.flexbox {
    justify-content: space-between;
    gap: var(--gouttiere);
}

#valeurs .container .flexbox > * {
    flex: 1;
    height: 50vh;
}

#valeurs img {
    object-fit: cover;
    object-position: center 20%;
}

#valeurs ul.flexbox {
    flex-direction: column;
}

#valeurs ul li {
    align-items: center;
}

#valeurs ul li::before {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("assets/photographe/icons/check-mark.png") center left no-repeat;
    background-size: 20px 20px;
    content:"";
}

#galerie article {
    justify-content: space-between;
    align-items: start;
    position: relative;
    margin-bottom: calc(11vh + var(--gouttiere));
}

#galerie article:nth-of-type(even) {
    flex-direction: row-reverse;
}

#galerie img {
    /*position: relative;
    z-index: 1;*/
    width: 55%;
    height: 33vh;
    object-fit: cover;
}

#galerie article div {
    position: relative;
    top: 11vh;
    z-index: 99;
    width: 45%;
    background-color: var(--background2);
    padding: calc(var(--gouttiere) / 2);
}

#galerie article:nth-of-type(odd) div {
    /*right: calc(60% / 4);*/
    right: 0;
    transform: translateX(-15%);
}

#galerie article:nth-of-type(even) div {
    /*left: calc(60% / 4);*/
    left: 0;
    transform: translateX(15%);
}

#galerie p {
    margin-bottom: calc(var(--gouttiere) / 2);
}

#temoignages .flexbox {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gouttiere);
}

#temoignages figure {
    padding: calc(var(--gouttiere) / 2);
    width: calc(50% - var(--gouttiere) / 2);
    background-color: var(--background);
}

#temoignages figcaption {
    margin: calc(var(--gouttiere) / 2);
}

#temoignages figcaption p {
    font-weight: 600;
    font-size: 18px;
}

#temoignages figcaption strong {
    display: block;
    margin-left: calc(var(--gouttiere) / 2);
    font-weight: 400;
    font-style: italic;
}

footer {

}

footer .flexbox > * {
    flex: 1;
}

footer ul {
    list-style-type: none;
}

footer input,
footer textarea {
    width: 100%;
}

footer img {
    width: 40px;
}